<div class="container">
    <div class="card-container">
        <a [routerLink]="['/listClases']" class="text-decoration-none">
            <div class="card">
                <img src="../../assets/clase_img.png" class="card-img-top" alt="Image 1">
                <div class="card-body">
                    <p class="card-text">Listado de Clases</p>
                </div>
            </div>
        </a>
        <a [routerLink]="['/crearClase']" class="text-decoration-none">
            <div class="card">
                <img src="../../assets/new_class.png" class="card-img-top" alt="Image 2">
                <div class="card-body">
                    <p class="card-text">Agregar Clase</p>
                </div>
            </div>
        </a>
        <a [routerLink]="['/notas']" class="text-decoration-none">
            <div class="card">
                <img src="../../assets/notas_img.png" class="card-img-top" alt="Image 3">
                <div class="card-body">
                    <p class="card-text">Agregar Nota</p>
                </div>
            </div>
        </a>
        
        
    </div>
    <div class="button-container">
        <button class="btn btn-success" [routerLink]="['/home']">Volver</button>
    </div>
</div>

